@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2)
  .bg-main
    width: 1366px
    height: 1024px

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2)
  .bg-main
    width: 1024px
    height: 768px

  .ellipse_container
    width: 660px
    height: 660px

    .welcome
      margin-bottom: 15px

    .title
      font-size: 40px
      margin-bottom: 40px

      span
        font-size: 50px

  .action_header
    width: 370px //
    height: 768px

  .controls
    margin-bottom: 190px

  .config
    margin: 0 20px

    h2
      font-size: 28px

    .counter
      .wrap-line
        div
          width: 160px

          &:nth-child(2n+1)
            margin-right: 10px

  .left-in-line_container
    width: 370px

    .left-in-line
      font-size: 30px

  .cards
    margin-bottom: 90px

  .card
    width: 440px
    height: 490px

  .card_header
    .card_img
      width: 100%

  .btn-drug
    font-size: 22px
    width: 200px
    padding: 20px

  .card_body
    .card_title
      font-size: 28px
      line-height: 36px
      padding-bottom: 4px

    .card_description
      font-size: 18px
      line-height: 28px


  .btn-home.gradient
    margin-top: 60px
    margin-bottom: 90px
    margin-left: 40px

  .total_container
    margin-left: 60px

  .total-share
    .this-share
      font-size: 40px

  .total-header_container
    margin-bottom: 90px

  .total_title
    font-size: 22px

  .total_description
    font-size: 19px

  .finish-img
    img
      width: 428px
      height: 475px



@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape)
  .action_header
    width: 170px
    overflow-y: auto
    -webkit-overflow-scrolling: touch

  .controls
    margin: 0 10px
    padding: 10px
    display: flex
    flex-direction: column
    align-items: center

    a
      &:first-child
        margin-right: 0
        margin-bottom: 10px


  .config
    h2
      font-size: 20px


  .wrap-line
    div

      &:nth-child(2n+1)
        margin-right: 0 !important



  .left-in-line_container
    position: absolute
    width: 170px

    .left-in-line
      padding: 10px
      font-size: 20px
      line-height: 30px

      p
        padding-bottom: 10px

      p
        &:last-child
          font-size: 35px

  .main_content
    position: fixed
    align-self: unset !important
    -webkit-text-size-adjust: none

    .content_blocks
      display: flex
      justify-content: flex-end

    .cards
      margin: 15px 0

    .card
      width: 360px
      height: 350px


  .card_body
    padding: 8px 20px 5px

  .card_title
    font-size: 20px !important
    line-height: 15px !important
    padding-bottom: 5px !important

  .card_description
    font-size: 15px !important
    line-height: 18px !important

  .btn-drug_container
    flex-direction: column
    padding: 35px

  .btn-drug
    margin-bottom: 30px
